.site {
	display: grid;
	grid-template-areas: 
		"head head head head head head"
		"side small-heading small-heading small-heading small-heading small-heading"
		"side main main main filler filler"
		"side main main main filler filler"
		"foot foot foot foot foot foot";

	@include iphone5s-landscape {
    	grid-template-areas: 
			"head head head"
			"small-heading small-heading small-heading"
			"side side side"
			"side side side"
			"main main main"
			"main main main"
			"filler filler filler"
			"filler filler filler"
			"foot foot foot";
  	}

  	@include iPad-mini {
    	grid-template-areas: 
			"head head head head"
			"side small-heading small-heading small-heading"
			"side main main main"
			"filler filler filler filler"
			"foot foot foot foot";
  	}
}

.header {
	grid-area: head;
}
.main-stuff{
	grid-area: main;
	// border: 1px red dashed;
}

.sidebar {
	grid-area: side;
	// border: 1px green dashed;
	width: 290px;
	@include iphone5s-landscape {
		width: 100%;
  	}
}

.main-header {
	grid-area: small-heading;
	border: 1px green dashed;
	// width: 290px;
	@include iphone5s-landscape {
		width: 100%;
  	}
}

.side_content {
	grid-area: filler;
	// border: 1px green dashed;
	width: 290px;
	@include iphone5s-landscape {
		width: 100%;
  	}
}
.my-footer {
	grid-area: foot;
}