

.site {
	display: grid;
	grid-template-areas: 
		"head head head head head head"
		"side main main main main main"
		"side main main main main main"
		"foot foot foot foot foot foot";

		@include iphone5s-landscape {
    			grid-template-areas: 
					"head head head"
					"main main main"
					"main main main"
					"side side side"
					"side side side"
					"foot foot foot";
  	}

  			@include iPad-mini {
    			grid-template-areas: 
					"head head head"
					"side main main"
					"side main main"
					"foot foot foot";
  	}
}

.header {
	grid-area: head;
}
.main-stuff{
	grid-area: main;
	// border: 1px red dashed;
}

.sidebar {
	grid-area: side;
	// border: 1px green dashed;
	width: 290px;
	@include iphone5s-landscape {
		width: 100%;
  	}
}

.my-footer {
	grid-area: foot;
}