.site {
	display: grid;
	grid-template-areas: 
		"head head head"
		"side small-heading small-heading"
		"side main filler"
		"side main filler"
		"foot foot foot";

	@include iphone5s-landscape {
    	grid-template-areas: 
			"head head head"
			"small-heading small-heading small-heading"
			"side side side"
			"side side side"
			"main main main"
			"main main main"
			"filler filler filler"
			"filler filler filler"
			"foot foot foot";
  	}

  	@include iPad-mini {
    	grid-template-areas: 
			"head head head"
			"small-heading small-heading small-heading"
			"main main main"
			"side side side"
			"filler filler filler"
			"foot foot foot";
  	}

  	@include laptop {
  		grid-template-areas:
			"head head head head head head"
			"side small-heading small-heading small-heading small-heading small-heading"
			"side main main main main filler"
			"side main  main main main filler"
			"foot foot foot foot foot foot";  			
  	}
}

.header {
	grid-area: head;
}
.main-stuff{
	grid-area: main;
}

.sidebar {
	grid-area: side;
}

.main-header {
	grid-area: small-heading;
}

.side_content {
	grid-area: filler;
}

.my-footer {
	grid-area: foot;	
}