
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	background-color: $main;
	color: white;
	height: 100px;
	h1 {
		display: inline-block;
		margin-top: 33px;
		@include laptop {
    	//???
  	}}
  	nav {
	padding-top: 20px;

		@include laptop {

	}}
	ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	li { 
		display: inline-block;
		padding: 10px;
		margin: 10px;
		a {
			&:link {
			color: white;
			text-decoration: none;
			// padding-right: 30px;
			// border-right:1px solid #FFF
			}
			&:visited {
				color: white;
			}
			&:hover {
				color: $hoverblue;
			}
		}
	}
}}



#logo {
	max-width: 100%;
	height: 95px;
}



