
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	background-color: $main;
	color: white;
	height: 100px;
}


#logo {
	max-width: 100%;
	height: 95px;
}

.header h1 {
	display: inline-block;
	margin-top: 33px;
	
	@include laptop {
    
  }
}

.header nav {
	padding-top: 20px;

	@include laptop {

	}
}

.header ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.header ul li { 
	display: inline-block;
	padding: 10px;
	margin: 10px;

}

.header ul li a:link {
	color: white;
	text-decoration: none;
}

.header ul li a:visited {
	color: white;
}

.header ul li a:hover {
	color: pink;
}


