.main-stuff {
	max-width: 60%;
	margin-left: 5%;
}

.large-content {
	border-top: 10px $main solid;
	border-left: 4px $side-border solid;
	border-right: 4px $side-border solid;
	border-bottom: 4px $side-border solid;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;


	margin-bottom: 40px;
	footer {
		margin-left: 14%;
			img {
			max-width: 100%;
			height: 25px;
		}
	}
}

.large-content__header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
        justify-content:  space-around;
	h1 {
		color: $main;
		font-size: 20pt; 
		text-align: left; 
		display: inline-block;
	}
	li { 
		display: inline-block;
		padding: 10px;
		margin: 10px;
		a {
			&:link {
			color: $main;
			text-decoration: none;
			border-right:1px solid #FFF
			}
			&:visited {
				color: white;
			}
			&:hover {
				color: $hoverblue;
			}
		}
	}
	hgroup {
		margin-left: -10%;
	}
	img {
		max-width: 100%;
		height: 30px;
		margin-bottom: -4px;
	}
}


.main_content {
	color: $main;
	h1 {
		font-size: 15pt; 
		// 
		text-align: center; 
	}

	p {
		max-width: 70%;
		margin-left: 15%;
		color: black;
		font-family: $helvetica;
		text-align: justify;
		&:first-of-type{
			text-indent: 2em;
		}
		
		// &:nth-child(n+3) {
		// 	display:none;
		// }
	}
}

.large-content__navbar {
	margin-right: -10%;
	ul { 
			list-style-type: none;
			margin: 0;
			padding: 0;
			li { 
				display: inline-block;
				padding: 10px;
				margin: 10px;
				a {
					&:link {
					color: $main;
					text-decoration: none;
					border-right:1px solid #FFF
					}
					&:visited {
						color: white;
					}
					&:hover {
						color: $hoverblue;
					}
				}
			}
		}
}