.main-header {
	@include iphone5s-landscape {
		width: 100%;
  	}
}

.main-header__group {
	@include header-flex (space-between, white, $main);
	h1 {
		display: inline-block;
		margin-top: 33px;
		font-size: 29pt;
		margin-left: -74%;
		@include laptop {
    		margin-left: -54%;
		}
		@include iPad-mini {
			margin-left: -44%;
		}
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
		    padding: 10px;
		    margin: 10px;
			a {
				text-decoration: none;
				color: $main;
				img {
					max-width: 100%;
					height: 45px;
				}
			}
		}
	}	
}

.main-header__h-line {
		width: 97%; 
		height: 5px; 
		background: $main; 
		margin-left: 1.5%;
		content: "";
		margin-bottom: 40px;
}