.main-stuff {
	max-width: 70%;
	margin-left: 15%;
	// border: $testing;
}

.large-content {
	border: $testing2;

	footer {
		margin-left: 24%;
			img {
			max-width: 100%;
			height: 25px;
		}
	}
}

.large-content__header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
        justify-content:  space-around;
	h1 {
		color: $main;
		font-size: 20pt; 
		text-align: left; 
		// margin-left: 25%;
		// border: $testing;
		display: inline-block;
		// float: left;
	}
	li { 
		// border: $testing;

		// float: left;
		display: inline-block;
		padding: 10px;
		margin: 10px;
		a {
			&:link {
			color: $main;
			text-decoration: none;
			// padding-right: 30px;
			border-right:1px solid #FFF
			}
			&:visited {
				color: white;
			}
			&:hover {
				color: $hoverblue;
			}
		}
	}
	hgroup {
		// border: $testing;
		margin-left: -10%;
	}
	img {
		max-width: 100%;
		height: 30px;
		margin-bottom: -4px;
	}
}


.main_content {
	color: $main;
	// border: $testing;
	h1 {
		font-size: 15pt; 
		// 
		text-align: center; 
		// border: $testing;
	}

	p {
		max-width: 50%;
		// // border: $testing;
		margin-left: 25%;
		color: black;
		font-family: $helvetica;
		text-align: justify;
		&:first-of-type{
			text-indent: 2em;
		}
		
		// &:nth-child(n+3) {
		// 	display:none;
		// }
	}
}

.large-content__navbar {
	margin-right: -10%;
	ul { 
			// // border: $testing;
			list-style-type: none;
			margin: 0;
			padding: 0;
			li { 
				display: inline-block;
				padding: 10px;
				margin: 10px;
				a {
					&:link {
					color: $main;
					text-decoration: none;
					// padding-right: 30px;
					border-right:1px solid #FFF
					}
					&:visited {
						color: white;
					}
					&:hover {
						color: $hoverblue;
					}
				}
			}
		}
}