.sidebar {
	background-color: $aqua;
	
}

.sidebar ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-top: 13px;
}

.sidebar ul li { 
	display: inline-block;
	padding: 10px;
	margin: 10px;
}