.sidebar {
	background-color: $aqua;
	width: 290px;
	nav {
		margin-left: 20px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		padding-top: 13px;
		li {
			display: inline-block;
			padding: 5px;
			margin: 5px;
		}
	}
	img {
		max-width: 100%;
		height: 45px;
	}
}


.search-container {
	margin-left: 45px;
	margin-bottom: 30px;
	input {
		height: 20px;
	}
	button {
		padding-bottom: -10px;
		img {
			max-width: 100%;
			max-height: 15px;
		}
	}
}


