// .main-grid {
// 	background-color: DeepSkyBlue;
// }

.small_content {
	background-color: $main;
	border-radius: 10px;
	color: white;
	padding: 20px;
    width: 200px;
    height: 150px;
    margin-bottom: 22px;
    margin-left: 22px;
}