@import './base/settings';
@import './base/base';
@import './components/grid';
@import './components/header';
@import './components/footer';
@import './components/content';
@import './components/grid_app';
@import './components/main_content';
@import './components/navbar';
@import './components/sidebar';

* {
	// text-align: center;
	// border: dotted 1px red;
}
