@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');

html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $med-size;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor:disabled;
}

h1, h2, h3, h4, h5, h6, div, p {
	font-family: 'Amaranth', sans-serif;
}
