//media query breakpoints
$iphone-5s-min: 320px; 
$smartphone-gen-landscape-min: 321px;
$samsung-s5-min: 360px;
$iphone8-min: 375px;
$iphone8plus-min: 414px; 
$smartphone-generic-max: 480px;
$iphone-5s-max: 568px;
$samsung-galaxy-s3-max: 640px;
$iphone8-max: 667px;
$iphone8plus-max: 736px;
$ipad-mini-min:768px;
$iphone-x-min: 812px;
$iphone-xs-max: 896px;
$ipad-mini-max:1024px;
$laptop-min: 1200px;
$desktop-min: 1224px;
$laptop-max: 1600px;
$large-desktop: 1824px;

/* Smartphones (portrait and landscape) ----------- */
@mixin generic-smartphone-portrait {
	@media only screen 
	and (min-device-width : #{$iphone-5s-min}) 
	and (max-device-width : #{$smartphone-generic-max}) {
		@content;
	}
}
/*END Smartphones (portrait and landscape) ----------- */

/* Smartphones (landscape) ----------- */
@mixin generic-smartphone-landscape {
	@media only screen 
	and (min-width : #{$smartphone-gen-landscape-min}) {
		@content;
	}	
} 
/*END Smartphones (landscape) ----------- */

/* Smartphones (portrait) ----------- */
@mixin small-generic-smartphone-portrait {
	@media only screen 
		and (max-width : #{$iphone-5s-min}) {
		@content;
	}
}

/*END Smartphones (portrait) ----------- */

/* iPads (portrait and landscape) ----------- */

//<---IN USE DONT DELETE
@mixin iPad-mini {
	@media only screen 
	and (min-device-width : #{$ipad-mini-min}) 
	and (max-device-width : #{$ipad-mini-max})
	and (-webkit-min-device-pixel-ratio: 1)  { 
		@content;
	}
}

/*END iPads (portrait and landscape) ----------- */

/* iPads (landscape) ----------- */
@mixin iPad-mini-landscape {
	@media only screen 
	and (min-device-width : #{$ipad-mini-min}) 
	and (max-device-width : #{$ipad-mini-max}) 
	and (orientation : landscape) {
		@content;
	}
}

/*END iPads (landscape) ----------- */

/* iPads (portrait) ----------- */
@mixin iPad-mini-portrait {
	@media only screen 
	and (min-device-width : #{$ipad-mini-min}) 
	and (max-device-width : #{$ipad-mini-max}) 
	and (orientation : portrait) {
		@content;
	}	
}

/* END iPads (portrait) ----------- */

/**********
iPad 3
**********/
@mixin iPad-3-landscape {
	@media only screen 
	and (min-device-width : #{$ipad-mini-min}) 
	and (max-device-width : #{$ipad-mini-max}) 
	and (orientation : landscape) 
	and (-webkit-min-device-pixel-ratio : 2) {
		@content;
	}
}

@mixin iPad-3-portrait {
	@media only screen 
	and (min-device-width : #{$ipad-mini-min}) 
	and (max-device-width : #{$ipad-mini-max}) 
	and (orientation : portrait) 
	and (-webkit-min-device-pixel-ratio : 2) {
		@content;
	}	
}

/**********
END iPad 3
**********/

/* generic desktops and laptops ----------- */
@mixin generic-pc {
	@media only screen  
	and (min-width : #{$desktop-min}) {
		@content;
	}	
}

/* END generic desktops and laptops ----------- */

/* Large generic desktop screens ----------- */
@mixin generic-large-pc {
	@media only screen  
	and (min-width : #{$large-desktop}) {
		@content;
	}
}

/*END Large generic desktop screens ----------- */

//<---IN USE DONT DELETE
@mixin laptop {
  @media (min-width: #{$laptop-min}) 
  and (max-width: #{$laptop-max - 1px}) {
    @content;
  }
}

//<---IN USE DONT DELETE
@mixin retina-laptop {
  @media (min-width: #{$laptop-min}) 
  and (max-width: #{$laptop-max - 1px}) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (min-resolution: 192dpi) {
    @content;
  }
}

/* iPhone 4 ----------- */
@mixin iphone-4-landscape {
	@media only screen 
	and (min-device-width : #{$iphone-5s-min}) 
	and (max-device-width : #{$smartphone-generic-max}) 
	and (orientation : landscape) 
	and (-webkit-min-device-pixel-ratio : 2) {
		@content;
	}
}

@mixin iphone-4-portrait {
	@media only screen 
	and (min-device-width : #{$iphone-5s-min}) 
	and (max-device-width : #{$smartphone-generic-max}) 
	and (orientation : portrait) 
	and (-webkit-min-device-pixel-ratio : 2) {
		@content;
	}	
}
/*END iPhone 4 ----------- */

/* iPhone 5 ----------- */
//<---IN USE DONT DELETE
@mixin iphone5s-landscape {
	@media only screen 
	and (min-device-width: #{$iphone-5s-min}) 
	and (max-device-height: #{$iphone-5s-max}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}
}

@mixin iphone5s-portrait {
	@media only screen 
	and (min-device-width: #{$iphone-5s-min}) 
	and (max-device-height: #{$iphone-5s-max}) 
	and (orientation : portrait)
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}	
}
/*END iPhone 5 ----------- */

/* iPhone 6, 7, 8 ----------- */
@mixin iphone-8-landscape {
	@media only screen 
	and (min-device-width: #{$iphone8-min}) 
	and (max-device-height: #{$iphone8-max}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}	
}

@mixin iphone-8-portrait {
	@media only screen 
	and (min-device-width: #{$iphone8-min}) 
	and (max-device-height: 667px) 
	and (orientation : portrait) 
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}
}
/*END iPhone 6, 7, 8 ----------- */

/* iPhone 6+, 7+, 8+ ----------- */
@mixin iphone-8-landscape {
	@media only screen 
	and (min-device-width: #{$iphone8plus-min}) 
	and (max-device-height: #{$iphone8plus-max}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}
}

@mixin iphone-8-portrait {
	@media only screen 
	and (min-device-width: #{$iphone8plus-min}) 
	and (max-device-height: #{$iphone8plus-max}) 
	and (orientation : portrait) 
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}	
}
/*END iPhone 6+, 7+, 8+ ----------- */

/* iPhone X ----------- */
@mixin iphone-x-landscape {
	@media only screen 
	and (min-device-width: #{$iphone8-min}) 
	and (max-device-height: #{$iphone-x-min}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}
}

@mixin iphone-x-portrait {
	@media only screen 
	and (min-device-width: #{$iphone8-min}) 
	and (max-device-height: #{$iphone-x-min}) 
	and (orientation : portrait) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}	
}
/*END iPhone X ----------- */


/* iPhone XS Max, XR ----------- */
@mixin iphone-x-max-landscape {
	@media only screen 
	and (min-device-width: #{$iphone8plus-min}) 
	and (max-device-height: #{$iphone-xs-max}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}
}

@mixin iphone-x-max-portrait {
	@media only screen 
	and (min-device-width: 414px)
	and (max-device-height: #{$iphone-xs-max}) 
	and (orientation : portrait) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}	
}
/*END iPhone XS Max, XR ----------- */

/* Samsung Galaxy S3 ----------- */
@mixin samsung-s3-landscape {
	@media only screen 
	and (min-device-width: #{$iphone-5s-min}) 
	and (max-device-height: #{$samsung-galaxy-s3-max}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}
}

@mixin samsung-s3-portrait {
	@media only screen 
	and (min-device-width: #{$iphone-5s-min}) 
	and (max-device-height: #{$samsung-galaxy-s3-max}) 
	and (orientation : portrait) 
	and (-webkit-device-pixel-ratio: 2){
		@content;
	}
}
/*END Samsung Galaxy S3 ----------- */

/* Samsung Galaxy S4 ----------- */
@mixin samsung-s4-landscape {
	@media only screen 
	and (min-device-width: #{$iphone-5s-min}) 
	and (max-device-height: #{$samsung-galaxy-s3-max}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}
} 

@mixin samsung-s4-portrait {
	@media only screen 
	and (min-device-width: #{$iphone-5s-min}) 
	and (max-device-height: #{$samsung-galaxy-s3-max}) 
	and (orientation : portrait) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}	
}
/*END Samsung Galaxy S4 ----------- */

/* Samsung Galaxy S5 ----------- */
@mixin samsung-s5-portrait {
	@media only screen 
	and (min-device-width: #{$samsung-s5-min}) 
	and (max-device-height: #{$samsung-galaxy-s3-max}) 
	and (orientation : portrait) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}
}

@mixin samsung-s5-landscape {
	@media only screen 
	and (min-device-width: #{$samsung-s5-min}) 
	and (max-device-height: #{$samsung-galaxy-s3-max}) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 3){
		@content;
	}
}
/*END Samsung Galaxy S5 ----------- */

