//test code
$testing: red dashed 1px;
$testing2: black dashed 2px;

//mixin for creating a test border
@mixin test-border($style){
	border: $style;
}

//colors
$hoverblue: #009;
$main: dodgerblue;
// $aqua: paleturquoise;
$aqua: #d6ffff;
$side-border: rgb(196, 196, 196);

//Spacing
$small-size: 1.2rem;
$med-size: 1.6rem;
$large-size: 3.2rem;
$xlar-size: 4.8rem;
$desktop-breakpoint: 45rem;

