//test code
$testing: red dashed 1px;
$testing2: black dashed 2px;

//Spacing
$small-size: 1.2rem;
$med-size: 1.6rem;
$large-size: 3.2rem;
$xlar-size: 4.8rem;
$desktop-breakpoint: 45rem;

//colors
$hoverblue: #009;
$main: dodgerblue;
// $aqua: paleturquoise;
$aqua: #d6ffff;
$side-border: rgb(196, 196, 196);

//media query breakpoints
$iphone-5s-min: 320px;
$iphone-5s-max: 568px;
$ipad-mini-min:768px;
$ipad-mini-max:1024px;
$laptop-min: 1200px;
$laptop-max: 1600px;

//media-query mixins
@mixin laptop {
  @media (min-width: #{$laptop-min}) 
  and (max-width: #{$laptop-max - 1px}) {
    @content;
  }
}

@mixin retina-laptop {
  @media (min-width: #{$laptop-min}) 
  and (max-width: #{$laptop-max - 1px}) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (min-resolution: 192dpi) {
    @content;
  }
}

@mixin iphone5s-landscape {
	@media only screen 
	and (min-device-width : #{$iphone-5s-min}) 
	and (max-device-width : #{$iphone-5s-max}) { 
			@content;
		}
}

@mixin iPad-mini {
	@media only screen 
	and (min-device-width : #{$ipad-mini-min}) 
	and (max-device-width : #{$ipad-mini-max})
	and (-webkit-min-device-pixel-ratio: 1)  { 
		@content;
	}
}


